.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.blinking-cursor::after {
  content: '|';
  animation: blink 1.2s step-start infinite;
}

@keyframes blink {
  50% {
    opacity: 0;
  }
}

.container {
  display: grid;
  grid-template-columns: 40px 1fr 40px;
  grid-template-rows: 45vh 15vh 15vh 20vh 5vh;
  position: relative;
}

.landingHeader {
  grid-row: 2 / 3;
  grid-column: 2 / 3;
  justify-self: start;
  align-self: stretch;
  font-size: 40px;
  left: 40px;
  z-index: 5;
}

.headerSub {
  grid-column: 2 / 3;
  grid-row: 3 / 4;
  margin-top: 50px;
  justify-self: end;
  font-size: 22px;
  z-index: 5;
}

#zenDesign {
  background: linear-gradient(to right, rgba(136,250,168,1), rgba(44,192,255,1));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

#zeno {
  color: #7CFFD8;
}

.particles {
  position: fixed;
  width: 100vw;
  z-index: -1;
}

/*#arrowDown {
 grid-column: 2 / 3;
 grid-row: 4/5;
 justify-self: center;
 align-self: end;
 animation: 3s bounce infinite;
}*/

@keyframes bounce {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(10px);
  }
  100% {
    transform: translateY(0);
  }
}

.toolbeltContainer {
  display: grid;
  height: 100vh;
  width: 100vw;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 60px 80px 1fr 1fr 1fr;
  z-index: 5;
  max-width: 100%;
}


.sticky {
  display: flex;
  height: 100vh;
  width: 20%;
  left: 80%;
  right: 0;
  align-items: center;
  justify-content: flex-start;
  align-content: flex-start;
  position: fixed;
  z-index: 10;
  background: transparent;
}

.colorWhenSelected {
  background: linear-gradient(to right, rgba(136,250,168,1), rgba(44,192,255,1));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.listItems {
  font-size: 30px;
}

.arrowDownButton {
  width: 120px;
  height: 68.4px;
  background-color: transparent;
  border: none;
   grid-column: 2 / 3;
  grid-row: 4/5;
  justify-self: center;
  align-self: end;
  animation: 3s bounce infinite;
}

.skillsContainer {
  display: flex;

}